@keyframes slidein {
  0% {
    opacity: 0;
    bottom: 0;
  }

  100% {
    opacity: 1;
    bottom: 2rem;
  }
}

@keyframes slideout {
  0% {
    opacity: 1;
    bottom: 2rem;
  }

  100% {
    opacity: 0;
    bottom: 0;
  }
}

body {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  overflow: hidden;
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  background: transparent;
}

#container {
  position: fixed;
  bottom: 2rem;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.icon {
  height: 3.75vh;
  width: 3.8vh;
  background: #272727f6;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.4);
  border-radius: 0.75rem;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  left: 1rem;
  top: 0.1rem;
}

.icon-text {
  color: #ff5f03f1;
  text-shadow: 0 0 12px #ff5f03f1;
  font-size: 17px;
}

.text {
  width: fit-content;
  min-width: 1%;
  color: #ffffff;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.4);
  background: #181818f6;
  margin-top: 0.2rem;
  border-radius: 0.75rem;
  padding: 0.55rem 1.85rem;
  font-size: 14px;
  font-weight: bold;
  white-space: nowrap;
}

.container {
  animation: slidein 0.5s forwards;
}

.slide-out {
  animation: slideout 0.5s forwards;
}

.key {
  height: 3.6vh;
  width: 2.5rem;
  right: 1rem;
  background: #272727f6;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.4);
  border-radius: 0.75rem;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0.1rem;
}

.key-text {
  font-weight: 900;
  color: #fffffff1;
  text-shadow: 0 0 12px #fffffff1;
  font-size: 17px;
}